.TextField {
	width: 100%;
	position: relative;
}

.Label {
	position: absolute;
	left: 20px;
	top: 0;
	transform: translateY(-50%);
	z-index: 1;
	display: block;
	color: #000;
	background-color: #fff;
	padding: 0 5px;
}

.Input {
	width: 100%;
	padding: 15px 20px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
}